@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
body{
    background-image: url(./assets/SL.120219.25650.43.jpg);
    object-fit: cover;
    background-attachment: fixed;
    color: white !important;
    height: max-content;
}
